html {
  scroll-behavior: smooth;
}
*{
  font-family: 'Rubik', sans-serif;
  color: white;
}
body{
  background-color: rgb(109, 106, 106);
}
.logo{
  width: 70px;
  margin-left: 5%;
  margin-top: -15%;
}
#title{
  width: 60%;
  margin-left: 20%;
}
.word{
  color: orange;
}
h5{
  text-align: end;
  margin-right: 10%;
  color: rgb(76, 73, 73);
}
.about{
 margin: auto;
 margin-top: 20%;
  width: 70%;
}
.aboutPara{
  display: flex;
}
.aboutPara p{
  margin-top: 20px;
  margin-left: 90px;
}
.aboutPara h4{
  color: rgb(48, 47, 47);
}
.skills,.work,.contact{
  margin-top: 15%;  
}
.skillsIcons,.worksProjects{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 10px;
  width: 70%;
  text-align: center;
  margin:auto;
  
}
.worksProjects{
  grid-template-columns:repeat(3,1fr);
}
@media only screen and (max-width: 830px){
  .skillsIcons{
    margin:auto;
    grid-template-columns: repeat(2,1fr);
  }
  .aboutPara{
    flex-direction: column;
  }
  .aboutPara p{
    margin-left: 0px;
  }
  .worksProjects{
    grid-template-columns: repeat(2,1fr);

  }
}

@media only screen and (max-width: 560px){
  .skillsIcons{
    margin-left: 2vw;
    grid-template-columns: repeat(2,1fr);
  }
  .worksProjects{
    grid-template-columns: 1fr;
    width: 100%;
  }
  
}
.icon, .project{
  height: 130px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.icon{
  background-color:  rgb(131, 128, 128);
}
.project{
  height: 200px;
  width: 100%;
}
.contactForm{
  display: flex;
  flex-direction: column;
}
.contact{
  width: 70%;
  margin: auto;
}
textarea{
  height: 100px;
}
.submit{
  padding: 1%;
  border-radius: 7px;
  width: 120px;
  margin: auto;
  color: rgb(227, 224, 224);
  background-color: transparent;
  border: 1px solid rgb(219, 215, 215);
}
.submit:hover{
  background-color: rgba(233, 163, 32, 0.795);
  border-color: rgba(233, 163, 32, 0.795);
}
h3{
  border-bottom: 2px solid orange;
  width: 170px;
  text-align: center;
  margin: auto;
  margin-bottom: 6%;
}
.skills,.work,.contact{
  margin-top: 15%;  
}
.contactForm *{
  margin-top:5%;
}
img{
  width:70px;
}
.css{
  width: 50px;
}
.react{
  width: 100px;
}
.nodejs{
  width: 115px;
}
.netbeans{
  width:61px;
}
.project{
  position: relative;
  margin-top: 50px;
  width: 300px;
  height: 200px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.project:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.title {
  position: absolute;
  width: 300px;
  left: 0;
  top: 50px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.project:hover .title {
  top: 30px;
}

.button {
  position: absolute;
  width: 300px;
  left:0;
  top: 140px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.project:hover .button {
  opacity: 1;
}
#clothink{
  background-image: url('./assets/clothink.png');
}
#heartshare{
  background-image: url('./assets/heart.png');
}
#singLib{
  background-image: url('./assets/Lyricslib.png');
}
.project{
  background-size:cover;
  margin-right: 10px;
}